* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #000;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.box .glitch {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 100px;
    position: relative;
    padding: 30px;
}
.box .glitch:before, .box .glitch:after {
    content: 'Glitch';
    color: #fff;
    position: absolute;
    top: 0;
    overflow: hidden;
    padding: 30px;
}
.box .glitch:before {
    left: 3px;
    text-shadow: -3px 0 red;
    animation: glitch-before 2s linear 0s infinite alternate;
}
.box .glitch:after {
    left: -3px;
    text-shadow: -3px 0 blue;
    animation: glitch-after 2s linear 0s infinite alternate;
}
@keyframes glitch-before {
    0% {
        clip: rect(143px, 350px, 58px, 30px);
   }
    5% {
        clip: rect(31px, 350px, 75px, 30px);
   }
    10% {
        clip: rect(97px, 350px, 69px, 30px);
   }
    15% {
        clip: rect(101px, 350px, 92px, 30px);
   }
    20% {
        clip: rect(86px, 350px, 30px, 30px);
   }
    25% {
        clip: rect(62px, 350px, 43px, 30px);
   }
    30% {
        clip: rect(120px, 350px, 5px, 30px);
   }
    35% {
        clip: rect(27px, 350px, 44px, 30px);
   }
    40% {
        clip: rect(70px, 350px, 134px, 30px);
   }
    45% {
        clip: rect(113px, 350px, 63px, 30px);
   }
    50% {
        clip: rect(134px, 350px, 56px, 30px);
   }
    55% {
        clip: rect(46px, 350px, 22px, 30px);
   }
    60% {
        clip: rect(22px, 350px, 64px, 30px);
   }
    65% {
        clip: rect(129px, 350px, 149px, 30px);
   }
    70% {
        clip: rect(83px, 350px, 9px, 30px);
   }
    75% {
        clip: rect(76px, 350px, 147px, 30px);
   }
    80% {
        clip: rect(139px, 350px, 115px, 30px);
   }
    85% {
        clip: rect(63px, 350px, 41px, 30px);
   }
    90% {
        clip: rect(57px, 350px, 132px, 30px);
   }
    95% {
        clip: rect(93px, 350px, 150px, 30px);
   }
    100% {
        clip: rect(20px, 350px, 94px, 30px);
   }
}
@keyframes glitch-after {
    0% {
        clip: rect(65px, 350px, 13px, 30px);
   }
    5% {
        clip: rect(31px, 350px, 75px, 30px);
   }
    10% {
        clip: rect(35px, 350px, 37px, 30px);
   }
    15% {
        clip: rect(5px, 350px, 135px, 30px);
   }
    20% {
        clip: rect(38px, 350px, 98px, 30px);
   }
    25% {
        clip: rect(92px, 350px, 1px, 30px);
   }
    30% {
        clip: rect(128px, 350px, 23px, 30px);
   }
    35% {
        clip: rect(77px, 350px, 38px, 30px);
   }
    40% {
        clip: rect(41px, 350px, 83px, 30px);
   }
    45% {
        clip: rect(106px, 350px, 46px, 30px);
   }
    50% {
        clip: rect(44px, 350px, 124px, 30px);
   }
    55% {
        clip: rect(38px, 350px, 117px, 30px);
   }
    60% {
        clip: rect(83px, 350px, 129px, 30px);
   }
    65% {
        clip: rect(39px, 350px, 88px, 30px);
   }
    70% {
        clip: rect(59px, 350px, 48px, 30px);
   }
    75% {
        clip: rect(118px, 350px, 3px, 30px);
   }
    80% {
        clip: rect(67px, 350px, 34px, 30px);
   }
    85% {
        clip: rect(102px, 350px, 81px, 30px);
   }
    90% {
        clip: rect(101px, 350px, 10px, 30px);
   }
    95% {
        clip: rect(21px, 350px, 100px, 30px);
   }
    100% {
        clip: rect(101px, 350px, 47px, 30px);
   }
}
