@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    background-color: #000;
    color: #fff;
    align-items: center;
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    text-shadow:4px 3px 0px #00f, -5px -3px 0 #f00;
    font-size:800%;
    text-align:center;
  }

  h2{
    text-shadow:4px 3px 0px #00f, -5px -3px 0 #f00;
    font-size:800%;
    text-align:center;
  }

  a {
    color: white;
}
  
.d1 {
    background-color: #EBECF0;
    height: 50vh;
}

h2:first-child {
  color: black;
  padding-top: 15vh;
}


h2:hover {
  -webkit-animation: glitch-small 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation: glitch-small 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

h1:first-child {
    color: black;
    padding-top: 15vh;
}


  h1:hover {
    -webkit-animation: glitch-small 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
            animation: glitch-small 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  
  @-webkit-keyframes glitch-small {
    0% {
      text-shadow:14px 11px 0px #00f, -16px -14px 0 #0f0;
    }
    33% {
      text-shadow:13px 13px 0px #f00, -13px -11px 0 #0ff;
    }
    66% {
       text-shadow:-14px -11px 0px #00f, 15px 12px 0 #0f0;
    }
    to {
      text-shadow:16px 11px 0px #f00, -14px -12px 0 #0ff;
    }
  }
  
  @keyframes glitch-small {
    0% {
      text-shadow:14px 11px 0px #00f, -16px -14px 0 #0f0;
    }
    33% {
      text-shadow:13px 13px 0px #f00, -12px -11px 0 #0ff;
    }
    66% {
       text-shadow:-14px -11px 0px #00f, 15px 12px 0 #0f0;
    }
    to {
      text-shadow:16px 11px 0px #f00, -13px -16px 0 #0ff;
    }
  }